#todo-list li button {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#todo-list li button:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

#todo-list li:hover button {
  display: block;
}

#todo-list li .demote {
  right: 55px;
  color: red;
}

#todo-list li .demote:hover {
  text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
}

#todo-list li .demote:after {
  content: '▼';
}

#todo-list li .promote {
  right: 100px;
  color: green;
}

#todo-list li .promote:hover {
  text-shadow: 0 0 1px #000,
    0 0 10px rgba(107, 199, 107, 0.8);
}

#todo-list li .promote:after {
  content: '▲';
}

