# I am a starting template for a JavaScript library Makefile. Copy me!

include $(MAKEDIR)/Makefile.common
include $(MAKEDIR)/Makefile.js

##################################################
# mandatory configuration

TITLE := library

##################################################
# optional configuration

SRCDIR := lib
SOURCES := \

HEADERS := \

